@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
        color    : var(--cafe-1);
    }

    33% {
        transform: scale(1, 1) translateY(0);
        color    : var(--cafe-4);
    }

    66% {
        transform: scale(1, 1) translateY(0);
        color    : var(--cafe-7);
    }

    100% {
        transform: scale(1, 1) translateY(0);
        color    : var(--cafe-1);
    }
}

.loadingScreen {
    position        : fixed;
    z-index         : 9000;
    left            : 0;
    right           : 0;
    top             : 0;
    bottom          : 0;
    background-color: var(--cafe-background);
    font-size       : 4rem;
    margin          : auto;
    display         : flex;
    justify-content : center;
    align-items     : center;
    text-align      : center;
    transition      : all 0.3s ease-out;
    flex-direction  : column;
}

.loadingScreen>.coffee {
    animation-name           : bounce;
    animation-timing-function: linear;
    animation-duration       : 3s;
    animation-iteration-count: infinite;
}

.fadingOut {
    opacity  : 0;
    transform: scale(2);
}


.footer {
    width           : 100vw;
    min-width       : 1280px;
    height          : 100px;
    border-top      : 1px solid #eaeaea;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    background-color: white;
}

.version {
    line-height: 1;
    font-size  : 1rem;
}

.disclaimer {
    line-height: 1;
    font-size  : 0.3rem;
}

.childContainer {
    min-height: 100vh;
    width     : 100vw;
    overflow-x: auto;
}

.error404Container {
    min-height     : 100vh;
    font-size      : 1.2rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.error404Container>h3 {
    margin: 0 0 24px 0;
}