.container {
    width           : 100%;
    height          : 48px;
    color           : white;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 24px;
    background-image: linear-gradient(to right, var(--cafe-1), var(--cafe-3));
    position        : fixed;
    left            : 0;
    right           : 0;
    top             : 0;
    z-index         : 9999;
    transition      : all 0.3s;
}

.container.error {
    background-image: linear-gradient(to right, var(--cafe-light-yellow), var(--cafe-light-yellow));
    transition      : all 0.3s;
}

.rightContainer {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.rightContainer>* {
    margin-right: 12px;
}

.rightContainer :last-child {
    margin-right: 0;
}

.logo {
    font-weight: 900;
    font-size  : 1.2rem;
    cursor     : pointer;
}

.avatar {
    width        : 36px;
    height       : 36px;
    border-radius: 20px;
}

.navBarRoundButton {
    color           : white;
    width           : 36px;
    height          : 36px;
    border-radius   : 20px;
    background-color: rgba(0, 0, 0, 0.24);
    text-align      : center;
    font-size       : 20px;
    cursor          : pointer;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.avatarDropdownMenuItem {
    min-width: 128px;
}

.errorMessage {
    color     : var(--cafe-red);
    font-size : 1rem;
    text-align: center;
    transition: all 0.3s;
    opacity   : 0;
}

.errorMessage.error {
    opacity: 1;
}