.card {
    width           : 100%;
    max-width       : 1024px;
    background-color: white;
    height          : 640px;
    margin          : 64px auto;
    display         : flex;
    flex-direction  : column;
    padding         : 24px;
    transition      : all 0.3s;
}

.card.cardHiddenBottom {
    transform     : scale(1.05) translateY(48px);
    opacity       : 0;
    pointer-events: none;
}

.answerInput {
    border          : none;
    font-size       : 1.2rem;
    padding         : 0 12px;
    width           : 100%;
    background-color: var(--cafe-light-grey);
    height          : 40px;
    border          : 2px solid var(--cafe-grey);
    transition      : all 0.3s;
}

.newWord {
    border   : none;
    font-size: 1.2rem;
    width    : 100%;
    height   : 40px;
}

.correct .answerInput {
    border: 2px solid green;
    color : green;
}

.incorrect .answerInput {
    border: 2px solid var(--cafe-red);
    color : var(--cafe-red);
}

.answerInput::placeholder {
    color: rgba(0, 0, 0, 0.24);
}

.answerInput:focus {
    outline: none;
}

.buttonContainer {
    display   : flex;
    margin-top: 24px;
}

.buttonContainer> :not(:last-child) {
    margin-right: 12px;
}

.questionBody {
    margin-top   : 96px;
    margin-bottom: 96px;
}

.questionTips {
    height        : 48px;
    padding-bottom: 12px;
    display       : flex;
    align-items   : flex-end;
}

.correct .questionTips {
    color: green;
}

.incorrect .questionTips {
    color: var(--cafe-red);
}

.result {
    flex           : 1;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.result h1 {
    margin: 12px 0 24px 0;
}


.footerContainer {
    display       : flex;
    flex-direction: row-reverse;
    margin-top    : 24px;
}

.footerContainer> :not(:first-child) {
    margin-right: 12px;
}

.reviewWordRow {
    display         : flex;
    background-color: white;
    width           : 100%;
    font-size       : 1.2rem;
    border-bottom   : 1px solid white;
    align-items     : center;
}

.reviewResult {
    margin-right: 12px;
}

.reviewWord {
    background-color: var(--cafe-light-green);
    height          : 100%;
    display         : flex;
    align-items     : center;
    min-width       : 33%;
    padding-left    : 12px;
}

.reviewWord.reviewWrong {
    background-color: var(--cafe-light-red);
}

.reviewWord.skipped {
    background-color: var(--cafe-light-grey);
}

.reviewMeaning {
    display     : flex;
    align-items : center;
    flex        : 1;
    padding-left: 12px;
}