.titleRow {
    margin: 24px 0;
}

.sectionOuterContainer {
    display       : flex;
    width         : 100%;
    flex-direction: column;
}

.deckCardsRow {
    display              : grid;
    grid-gap             : 24px;
    grid-template-columns: repeat(auto-fill, 256px);
    width                : 100%;
    margin-bottom        : 48px;
}


.deckCardsRow::after {
    content: "";
    flex   : 1;
}

.deckCreationFormContainer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.deckCreationFormRightContainer {
    display        : flex;
    flex           : 1;
    justify-content: center;
    flex-direction : column;
    margin-left    : 24px;
}

.deckCreationFormInputItem {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin         : 12px 0;
}

.deckCreationFormInputItem>input {
    border          : none;
    font-size       : 1rem;
    padding         : 0 12px;
    flex            : 1;
    background-color: var(--cafe-light-grey);
    height          : 40px;
    border          : 2px solid var(--cafe-grey);
    transition      : all 0.3s;
    max-width       : 220px;
}

.deckCreationFormInputItem>h4 {
    margin      : 0;
    margin-right: 12px;
    overflow    : hidden;
    font-size   : 1rem;
}

.deckCreationFormInputItem>input:focus {
    outline: none;
}

.deckCreationSubmitButtonContainer {
    width : 100%;
    height: 44px;
}

.deckCreationSubmitButtonRow {
    display       : flex;
    flex-direction: row-reverse;
    padding       : 0;
    position      : absolute;
    bottom        : 24px;
    right         : 28px;
}

.deckCreationSubmitButtonRow :not(:first-child) {
    margin-right: 12px;
}