.titleRow {
    margin: 24px 0;
}

.sectionOuterContainer {
    display       : flex;
    width         : 100%;
    flex-direction: column;
}

.deckCardsRow {
    display              : grid;
    grid-gap             : 24px;
    grid-template-columns: repeat(auto-fill, 256px);
    width                : 100%;
    margin-bottom        : 48px;
}


.deckCardsRow::after {
    content: "";
    flex   : 1;
}

.modalFormContainer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.modalFormContainerVertical {
    flex-direction: column;
}

.deckCreationFormRightContainer {
    display        : flex;
    flex           : 1;
    justify-content: center;
    flex-direction : column;
    margin-left    : 24px;
}

.deckCreationFormInputItem {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin         : 12px 0;
}

.deckCreationFormInputItem>input {
    border          : none;
    font-size       : 1rem;
    padding         : 0 12px;
    flex            : 1;
    background-color: var(--cafe-light-grey);
    height          : 40px;
    border          : 2px solid var(--cafe-grey);
    transition      : all 0.3s;
    max-width       : 220px;
}

.deckCreationFormInputItem>h4 {
    margin      : 0;
    margin-right: 12px;
    overflow    : hidden;
    font-size   : 1rem;
}

.deckCreationFormInputItem>input:focus {
    outline: none;
}

.modalButtonRowContainer {
    width: 100%;
}

.modalButtonRowInnerContainer {
    display       : flex;
    flex-direction: row-reverse;
    padding       : 0;
    margin-top    : 12px;
}

.modalButtonRowInnerContainer> :not(:first-child) {
    margin-right: 12px;
}

.controlRow {
    display        : flex;
    margin-bottom  : 24px;
    width          : 100%;
    justify-content: space-between;
    align-items    : center;
}

.controlRowLeft,
.controlRowRight {
    display    : flex;
    align-items: center;
}

.controlRowLeft> :not(:last-child),
.controlRowRight>:not(:last-child) {
    margin-right: 24px;
}

.codeSearchBar {
    border       : none;
    font-size    : 1rem;
    padding      : 0 12px;
    width        : 100%;
    height       : 32px;
    border-bottom: 1px solid var(--cafe-black);
    text-align   : center;
}

.codeSearchError {
    margin   : 12px 0 0 0;
    color    : var(--cafe-red);
    font-size: 1rem;
}

.codeSearchBar::placeholder {
    color: rgba(0, 0, 0, 0.24);
}

.codeSearchBar:focus {
    outline: none;
}