.deckCard {
    background-color: white;
    min-height: 576px;
    width: 256px;
    border-radius: 12px;
    box-shadow: 12px 12px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}


.deckCard:hover {
    transform: translateX(-4px) translateY(-4px);
    box-shadow: 18px 18px 4px 2px rgba(0, 0, 0, 0.12);
}

.deckCard > .imageContainer {
    width: 256px;
    height: 128px;
    background-color: var(--cafe-colors-pink);
    position: relative;
    margin-bottom: 76px;
}

.deckCard > .imageContainer > .titleImage {
    width: 128px;
    height: 128px;
    background-color: var(--cafe-colors-pink);
    position: absolute;
    top: 64px;
    left: 64px;
    border-radius: 12px;
    color: white;
    border: solid 4px white;
    display: flex;
    justify-content: center;
    line-height: 108px;
    text-align: center;
    font-size: 64px;
    overflow: hidden;
}

.deckCard > .imageContainer > .titleImage > img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-width: 4px;
}

.deckCard > .contentContainer {
    padding: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deckCardsRow {
    display: flex;
}

.deckCardsRow > :not(:last-child) {
    margin-right: 64px;
}