.button {
    background-color: transparent;
    border          : none;
    padding         : 0 12px;
    cursor          : pointer;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    position        : relative;
    overflow        : hidden;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loadingContainer {
    position       : absolute;
    justify-content: center;
    align-items    : center;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    font-size      : 24px;
    display        : none;
}

.loadingContainer.loading {
    overflow : hidden;
    display  : flex;
    animation: spin 1.5s linear infinite;
}