html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:host,:root {
  --cafe-ring-inset: var(--cafe-empty,/*!*/ /*!*/);
  --cafe-ring-offset-width: 0px;
  --cafe-ring-offset-color: #fff;
  --cafe-ring-color: rgba(66, 153, 225, 0.6);
  --cafe-ring-offset-shadow: 0 0 #0000;
  --cafe-ring-shadow: 0 0 #0000;
  --cafe-space-x-reverse: 0;
  --cafe-space-y-reverse: 0;
  --cafe-colors-transparent: transparent;
  --cafe-colors-current: currentColor;
  --cafe-colors-black: #000000;
  --cafe-colors-white: #FFFFFF;
  --cafe-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --cafe-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --cafe-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --cafe-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  --cafe-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  --cafe-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  --cafe-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  --cafe-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --cafe-colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
  --cafe-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --cafe-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --cafe-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --cafe-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
  --cafe-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
  --cafe-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
  --cafe-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
  --cafe-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
  --cafe-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
  --cafe-colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
  --cafe-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
  --cafe-colors-gray-50: #F7FAFC;
  --cafe-colors-gray-100: #EDF2F7;
  --cafe-colors-gray-200: #E2E8F0;
  --cafe-colors-gray-300: #CBD5E0;
  --cafe-colors-gray-400: #A0AEC0;
  --cafe-colors-gray-500: #718096;
  --cafe-colors-gray-600: #4A5568;
  --cafe-colors-gray-700: #2D3748;
  --cafe-colors-gray-800: #1A202C;
  --cafe-colors-gray-900: #171923;
  --cafe-colors-red-50: #FFF5F5;
  --cafe-colors-red-100: #FED7D7;
  --cafe-colors-red-200: #FEB2B2;
  --cafe-colors-red-300: #FC8181;
  --cafe-colors-red-400: #F56565;
  --cafe-colors-red-500: #E53E3E;
  --cafe-colors-red-600: #C53030;
  --cafe-colors-red-700: #9B2C2C;
  --cafe-colors-red-800: #822727;
  --cafe-colors-red-900: #63171B;
  --cafe-colors-orange-50: #FFFAF0;
  --cafe-colors-orange-100: #FEEBC8;
  --cafe-colors-orange-200: #FBD38D;
  --cafe-colors-orange-300: #F6AD55;
  --cafe-colors-orange-400: #ED8936;
  --cafe-colors-orange-500: #DD6B20;
  --cafe-colors-orange-600: #C05621;
  --cafe-colors-orange-700: #9C4221;
  --cafe-colors-orange-800: #7B341E;
  --cafe-colors-orange-900: #652B19;
  --cafe-colors-yellow-50: #FFFFF0;
  --cafe-colors-yellow-100: #FEFCBF;
  --cafe-colors-yellow-200: #FAF089;
  --cafe-colors-yellow-300: #F6E05E;
  --cafe-colors-yellow-400: #ECC94B;
  --cafe-colors-yellow-500: #D69E2E;
  --cafe-colors-yellow-600: #B7791F;
  --cafe-colors-yellow-700: #975A16;
  --cafe-colors-yellow-800: #744210;
  --cafe-colors-yellow-900: #5F370E;
  --cafe-colors-green-50: #F0FFF4;
  --cafe-colors-green-100: #C6F6D5;
  --cafe-colors-green-200: #9AE6B4;
  --cafe-colors-green-300: #68D391;
  --cafe-colors-green-400: #48BB78;
  --cafe-colors-green-500: #38A169;
  --cafe-colors-green-600: #2F855A;
  --cafe-colors-green-700: #276749;
  --cafe-colors-green-800: #22543D;
  --cafe-colors-green-900: #1C4532;
  --cafe-colors-teal-50: #E6FFFA;
  --cafe-colors-teal-100: #B2F5EA;
  --cafe-colors-teal-200: #81E6D9;
  --cafe-colors-teal-300: #4FD1C5;
  --cafe-colors-teal-400: #38B2AC;
  --cafe-colors-teal-500: #319795;
  --cafe-colors-teal-600: #2C7A7B;
  --cafe-colors-teal-700: #285E61;
  --cafe-colors-teal-800: #234E52;
  --cafe-colors-teal-900: #1D4044;
  --cafe-colors-blue-50: #ebf8ff;
  --cafe-colors-blue-100: #bee3f8;
  --cafe-colors-blue-200: #90cdf4;
  --cafe-colors-blue-300: #63b3ed;
  --cafe-colors-blue-400: #4299e1;
  --cafe-colors-blue-500: #3182ce;
  --cafe-colors-blue-600: #2b6cb0;
  --cafe-colors-blue-700: #2c5282;
  --cafe-colors-blue-800: #2a4365;
  --cafe-colors-blue-900: #1A365D;
  --cafe-colors-cyan-50: #EDFDFD;
  --cafe-colors-cyan-100: #C4F1F9;
  --cafe-colors-cyan-200: #9DECF9;
  --cafe-colors-cyan-300: #76E4F7;
  --cafe-colors-cyan-400: #0BC5EA;
  --cafe-colors-cyan-500: #00B5D8;
  --cafe-colors-cyan-600: #00A3C4;
  --cafe-colors-cyan-700: #0987A0;
  --cafe-colors-cyan-800: #086F83;
  --cafe-colors-cyan-900: #065666;
  --cafe-colors-purple-50: #FAF5FF;
  --cafe-colors-purple-100: #E9D8FD;
  --cafe-colors-purple-200: #D6BCFA;
  --cafe-colors-purple-300: #B794F4;
  --cafe-colors-purple-400: #9F7AEA;
  --cafe-colors-purple-500: #805AD5;
  --cafe-colors-purple-600: #6B46C1;
  --cafe-colors-purple-700: #553C9A;
  --cafe-colors-purple-800: #44337A;
  --cafe-colors-purple-900: #322659;
  --cafe-colors-primary-300: #F687B3;
  --cafe-colors-pink-50: #FFF5F7;
  --cafe-colors-pink-100: #FED7E2;
  --cafe-colors-pink-200: #FBB6CE;
  --cafe-colors-pink-300: #F687B3;
  --cafe-colors-pink-400: #ED64A6;
  --cafe-colors-pink-500: #D53F8C;
  --cafe-colors-pink-600: #B83280;
  --cafe-colors-pink-700: #97266D;
  --cafe-colors-pink-800: #702459;
  --cafe-colors-pink-900: #521B41;
  --cafe-colors-linkedin-50: #E8F4F9;
  --cafe-colors-linkedin-100: #CFEDFB;
  --cafe-colors-linkedin-200: #9BDAF3;
  --cafe-colors-linkedin-300: #68C7EC;
  --cafe-colors-linkedin-400: #34B3E4;
  --cafe-colors-linkedin-500: #00A0DC;
  --cafe-colors-linkedin-600: #008CC9;
  --cafe-colors-linkedin-700: #0077B5;
  --cafe-colors-linkedin-800: #005E93;
  --cafe-colors-linkedin-900: #004471;
  --cafe-colors-facebook-50: #E8F4F9;
  --cafe-colors-facebook-100: #D9DEE9;
  --cafe-colors-facebook-200: #B7C2DA;
  --cafe-colors-facebook-300: #6482C0;
  --cafe-colors-facebook-400: #4267B2;
  --cafe-colors-facebook-500: #385898;
  --cafe-colors-facebook-600: #314E89;
  --cafe-colors-facebook-700: #29487D;
  --cafe-colors-facebook-800: #223B67;
  --cafe-colors-facebook-900: #1E355B;
  --cafe-colors-messenger-50: #D0E6FF;
  --cafe-colors-messenger-100: #B9DAFF;
  --cafe-colors-messenger-200: #A2CDFF;
  --cafe-colors-messenger-300: #7AB8FF;
  --cafe-colors-messenger-400: #2E90FF;
  --cafe-colors-messenger-500: #0078FF;
  --cafe-colors-messenger-600: #0063D1;
  --cafe-colors-messenger-700: #0052AC;
  --cafe-colors-messenger-800: #003C7E;
  --cafe-colors-messenger-900: #002C5C;
  --cafe-colors-whatsapp-50: #dffeec;
  --cafe-colors-whatsapp-100: #b9f5d0;
  --cafe-colors-whatsapp-200: #90edb3;
  --cafe-colors-whatsapp-300: #65e495;
  --cafe-colors-whatsapp-400: #3cdd78;
  --cafe-colors-whatsapp-500: #22c35e;
  --cafe-colors-whatsapp-600: #179848;
  --cafe-colors-whatsapp-700: #0c6c33;
  --cafe-colors-whatsapp-800: #01421c;
  --cafe-colors-whatsapp-900: #001803;
  --cafe-colors-twitter-50: #E5F4FD;
  --cafe-colors-twitter-100: #C8E9FB;
  --cafe-colors-twitter-200: #A8DCFA;
  --cafe-colors-twitter-300: #83CDF7;
  --cafe-colors-twitter-400: #57BBF5;
  --cafe-colors-twitter-500: #1DA1F2;
  --cafe-colors-twitter-600: #1A94DA;
  --cafe-colors-twitter-700: #1681BF;
  --cafe-colors-twitter-800: #136B9E;
  --cafe-colors-twitter-900: #0D4D71;
  --cafe-colors-telegram-50: #E3F2F9;
  --cafe-colors-telegram-100: #C5E4F3;
  --cafe-colors-telegram-200: #A2D4EC;
  --cafe-colors-telegram-300: #7AC1E4;
  --cafe-colors-telegram-400: #47A9DA;
  --cafe-colors-telegram-500: #0088CC;
  --cafe-colors-telegram-600: #007AB8;
  --cafe-colors-telegram-700: #006BA1;
  --cafe-colors-telegram-800: #005885;
  --cafe-colors-telegram-900: #003F5E;
  --cafe-borders-none: 0;
  --cafe-borders-1px: 1px solid;
  --cafe-borders-2px: 2px solid;
  --cafe-borders-4px: 4px solid;
  --cafe-borders-8px: 8px solid;
  --cafe-fonts-heading: Inter,sans-serif;
  --cafe-fonts-body: Inter,sans-serif;
  --cafe-fonts-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --cafe-fontSizes-xs: 0.75rem;
  --cafe-fontSizes-sm: 0.875rem;
  --cafe-fontSizes-md: 1rem;
  --cafe-fontSizes-lg: 1.125rem;
  --cafe-fontSizes-xl: 1.25rem;
  --cafe-fontSizes-2xl: 1.5rem;
  --cafe-fontSizes-3xl: 1.875rem;
  --cafe-fontSizes-4xl: 2.25rem;
  --cafe-fontSizes-5xl: 3rem;
  --cafe-fontSizes-6xl: 3.75rem;
  --cafe-fontSizes-7xl: 4.5rem;
  --cafe-fontSizes-8xl: 6rem;
  --cafe-fontSizes-9xl: 8rem;
  --cafe-fontWeights-hairline: 100;
  --cafe-fontWeights-thin: 200;
  --cafe-fontWeights-light: 300;
  --cafe-fontWeights-normal: 400;
  --cafe-fontWeights-medium: 500;
  --cafe-fontWeights-semibold: 600;
  --cafe-fontWeights-bold: 700;
  --cafe-fontWeights-extrabold: 800;
  --cafe-fontWeights-black: 900;
  --cafe-letterSpacings-tighter: -0.05em;
  --cafe-letterSpacings-tight: -0.025em;
  --cafe-letterSpacings-normal: 0;
  --cafe-letterSpacings-wide: 0.025em;
  --cafe-letterSpacings-wider: 0.05em;
  --cafe-letterSpacings-widest: 0.1em;
  --cafe-lineHeights-3: .75rem;
  --cafe-lineHeights-4: 1rem;
  --cafe-lineHeights-5: 1.25rem;
  --cafe-lineHeights-6: 1.5rem;
  --cafe-lineHeights-7: 1.75rem;
  --cafe-lineHeights-8: 2rem;
  --cafe-lineHeights-9: 2.25rem;
  --cafe-lineHeights-10: 2.5rem;
  --cafe-lineHeights-normal: normal;
  --cafe-lineHeights-none: 1;
  --cafe-lineHeights-shorter: 1.25;
  --cafe-lineHeights-short: 1.375;
  --cafe-lineHeights-base: 1.5;
  --cafe-lineHeights-tall: 1.625;
  --cafe-lineHeights-taller: 2;
  --cafe-radii-none: 0;
  --cafe-radii-sm: 0.125rem;
  --cafe-radii-base: 0.25rem;
  --cafe-radii-md: 0.375rem;
  --cafe-radii-lg: 0.5rem;
  --cafe-radii-xl: 0.75rem;
  --cafe-radii-2xl: 1rem;
  --cafe-radii-3xl: 1.5rem;
  --cafe-radii-full: 9999px;
  --cafe-space-1: 0.25rem;
  --cafe-space-2: 0.5rem;
  --cafe-space-3: 0.75rem;
  --cafe-space-4: 1rem;
  --cafe-space-5: 1.25rem;
  --cafe-space-6: 1.5rem;
  --cafe-space-7: 1.75rem;
  --cafe-space-8: 2rem;
  --cafe-space-9: 2.25rem;
  --cafe-space-10: 2.5rem;
  --cafe-space-12: 3rem;
  --cafe-space-14: 3.5rem;
  --cafe-space-16: 4rem;
  --cafe-space-20: 5rem;
  --cafe-space-24: 6rem;
  --cafe-space-28: 7rem;
  --cafe-space-32: 8rem;
  --cafe-space-36: 9rem;
  --cafe-space-40: 10rem;
  --cafe-space-44: 11rem;
  --cafe-space-48: 12rem;
  --cafe-space-52: 13rem;
  --cafe-space-56: 14rem;
  --cafe-space-60: 15rem;
  --cafe-space-64: 16rem;
  --cafe-space-72: 18rem;
  --cafe-space-80: 20rem;
  --cafe-space-96: 24rem;
  --cafe-space-px: 1px;
  --cafe-space-0\.5: 0.125rem;
  --cafe-space-1\.5: 0.375rem;
  --cafe-space-2\.5: 0.625rem;
  --cafe-space-3\.5: 0.875rem;
  --cafe-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --cafe-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --cafe-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --cafe-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --cafe-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --cafe-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --cafe-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --cafe-shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --cafe-shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
  --cafe-shadows-none: none;
  --cafe-shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
  --cafe-sizes-1: 0.25rem;
  --cafe-sizes-2: 0.5rem;
  --cafe-sizes-3: 0.75rem;
  --cafe-sizes-4: 1rem;
  --cafe-sizes-5: 1.25rem;
  --cafe-sizes-6: 1.5rem;
  --cafe-sizes-7: 1.75rem;
  --cafe-sizes-8: 2rem;
  --cafe-sizes-9: 2.25rem;
  --cafe-sizes-10: 2.5rem;
  --cafe-sizes-12: 3rem;
  --cafe-sizes-14: 3.5rem;
  --cafe-sizes-16: 4rem;
  --cafe-sizes-20: 5rem;
  --cafe-sizes-24: 6rem;
  --cafe-sizes-28: 7rem;
  --cafe-sizes-32: 8rem;
  --cafe-sizes-36: 9rem;
  --cafe-sizes-40: 10rem;
  --cafe-sizes-44: 11rem;
  --cafe-sizes-48: 12rem;
  --cafe-sizes-52: 13rem;
  --cafe-sizes-56: 14rem;
  --cafe-sizes-60: 15rem;
  --cafe-sizes-64: 16rem;
  --cafe-sizes-72: 18rem;
  --cafe-sizes-80: 20rem;
  --cafe-sizes-96: 24rem;
  --cafe-sizes-px: 1px;
  --cafe-sizes-0\.5: 0.125rem;
  --cafe-sizes-1\.5: 0.375rem;
  --cafe-sizes-2\.5: 0.625rem;
  --cafe-sizes-3\.5: 0.875rem;
  --cafe-sizes-max: max-content;
  --cafe-sizes-min: min-content;
  --cafe-sizes-full: 100%;
  --cafe-sizes-3xs: 14rem;
  --cafe-sizes-2xs: 16rem;
  --cafe-sizes-xs: 20rem;
  --cafe-sizes-sm: 24rem;
  --cafe-sizes-md: 28rem;
  --cafe-sizes-lg: 32rem;
  --cafe-sizes-xl: 36rem;
  --cafe-sizes-2xl: 42rem;
  --cafe-sizes-3xl: 48rem;
  --cafe-sizes-4xl: 56rem;
  --cafe-sizes-5xl: 64rem;
  --cafe-sizes-6xl: 72rem;
  --cafe-sizes-7xl: 80rem;
  --cafe-sizes-8xl: 90rem;
  --cafe-sizes-container-sm: 640px;
  --cafe-sizes-container-md: 768px;
  --cafe-sizes-container-lg: 1024px;
  --cafe-sizes-container-xl: 1280px;
  --cafe-zIndices-hide: -1;
  --cafe-zIndices-auto: auto;
  --cafe-zIndices-base: 0;
  --cafe-zIndices-docked: 10;
  --cafe-zIndices-dropdown: 1000;
  --cafe-zIndices-sticky: 1100;
  --cafe-zIndices-banner: 1200;
  --cafe-zIndices-overlay: 1300;
  --cafe-zIndices-modal: 1400;
  --cafe-zIndices-popover: 1500;
  --cafe-zIndices-skipLink: 1600;
  --cafe-zIndices-toast: 1700;
  --cafe-zIndices-tooltip: 1800;
  --cafe-transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  --cafe-transition-property-colors: background-color,border-color,color,fill,stroke;
  --cafe-transition-property-dimensions: width,height;
  --cafe-transition-property-position: left,right,top,bottom;
  --cafe-transition-property-background: background-color,background-image,background-position;
  --cafe-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --cafe-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --cafe-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --cafe-transition-duration-ultra-fast: 50ms;
  --cafe-transition-duration-faster: 100ms;
  --cafe-transition-duration-fast: 150ms;
  --cafe-transition-duration-normal: 200ms;
  --cafe-transition-duration-slow: 300ms;
  --cafe-transition-duration-slower: 400ms;
  --cafe-transition-duration-ultra-slow: 500ms;
  --cafe-blur-none: 0;
  --cafe-blur-sm: 4px;
  --cafe-blur-base: 8px;
  --cafe-blur-md: 12px;
  --cafe-blur-lg: 16px;
  --cafe-blur-xl: 24px;
  --cafe-blur-2xl: 40px;
  --cafe-blur-3xl: 64px;
}