html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--cafe-colors-background);
  color: var(--cafe-colors-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:host,:root {
  --cafe-colors-purple-500: #805AD5;
  --cafe-colors-cyan-700: #0987A0;
  --cafe-colors-background: #E6EBE6;
  --cafe-colors-pink: #F6B5B5;
  --cafe-colors-black: #3D3F44;
  --cafe-colors-yellow: #FFDC94;
}